<!DOCTYPE html>
<html lang="en" ng-app="guestListApp">
<head>
<title>GuestList</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/shop-homepage.css" />
<link rel="stylesheet" type="text/css" href="css/ngDialog.css" />
<link rel="stylesheet" type="text/css" href="css/ngDialog-theme-default.css" />
<link rel="stylesheet" type="text/css" href="css/guestlist.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div ng-include="'navbar.html'"></div>
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div ng-include="'sidenav.html'"></div>
			<div class="col-md-9">
				<div ng-controller="MyEventsController">
					<div class="form-group">
						<input type="button" class="btn btn-default btn-lg" ng-click="newEventPopUp()" value="New Event" />
					</div>
					<table id="myevents">
						<tr>
							<th>Event Name</th>
							<th>Event Date</th>
						</tr>
						<tr ng-repeat="myevent in events | orderBy: 'eventDate'">
							<td>{{ myevent.eventName }}</td>
							<td>{{ myevent.eventDate | date:"MMM dd, yyyy hh:mm a"}}</td>
						</tr>
<!-- 						<p>{{ events | json }}</p> -->
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--  End Page Content -->
	<div ng-include="'footer.html'"></div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/guestlist.js"></script>
	<!-- <script type="text/javascript" src="js/event.js"></script>-->
	<script type="text/javascript" src="js/ngDialog.js"></script>
	<script type="text/javascript" src="js/angular-resource.min.js"></script>
</body>
</html>