<!DOCTYPE html>
<html lang="en" ng-app="guestListApp">
<head>
<title>Event</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/shop-homepage.css" />
<link rel="stylesheet" type="text/css" href="css/guestlist.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top guestlisttheme" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand guestlistlogo" href="#">GuestList</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-md-3">
				<div class="list-group">
					<a href="#" class="list-group-item">Event Info</a> <a href="#"
						class="list-group-item">Guests</a> <a href="#"
						class="list-group-item">RSVPs</a>
				</div>
			</div>
			<div class="col-md-9">
				<div ng-controller="EventController">
					<form ng-submit="createEvent()">
						<div class="form-group">
							<label>Event Name</label> <input type="text"
								ng-model="event.eventName" ng-required="true"
								class="form-control"></input>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-default btn-lg"
								value="Create Event" ng-disabled="eventCreated" />
						</div>
					</form>
					<form ng-submit="addSubEvent()">
						<h3>{{ event.eventName }}</h3>
						<div class="form-group">
							<label>Sub Event Name</label> <input type="text"
								ng-model="subEvent.eventName" ng-required="true"
								class="form-control"></input>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-default btn-lg"
								value="Create Event" />
						</div>
					</form>
					<table id="customers">
						<tr>
							<th>Parent Event</th>
							<th>Sub Event Name</th>
						</tr>
						<tr ng-repeat="mysubevent in subevents | orderBy: 'eventName'">
							<td>{{ mysubevent.parentEvent }}</td>
							<td>{{ mysubevent.eventName }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--  End Page Content -->
	<div class="container">
		<hr>
		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Your Website 2014</p>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/guestlist.js"></script>
	<script type="text/javascript" src="js/angular-resource.min.js"></script>
</body>
</html>